/Aplicacion wb java/interfaz_web/nbproject/private/
/Aplicacion wb java/interfaz_web/build/
/Aplicacion wb java/proyecto_1/nbproject/private/
/Aplicacion wb java/proyecto_1/build/
/Aplicacion wb java/WebApplication1/nbproject/private/
/Aplicacion wb java/WebApplication1/build/